.header-search {
	.header-search-icon {
		position: absolute;
		right: 0;
		display: inline-block;
		padding: 1.15rem 1.25rem;
		@include color(--navi-text-color);
		@include background(--navi-background-color);
		z-index: 99;
		@include font-size(16);

		&:hover,
		&:active {
			cursor: pointer;
			@include color(--navi-hover-text-color);
			@include background(--navi-hover-color);
		}

		&:focus {
			outline: none;
		}

		.icon-search {
			margin: 0;
			padding: 0;
			width: 24px;
			height: 24px;
			vertical-align: middle;
			fill: currentColor;
			transition: fill 0.15s ease;
		}
	}

	.header-search-form {
		position: absolute;
		top: 4rem;
		right: 0;
		display: none;
		margin: 0;
		padding: 1.25rem;
		@include background(--submenu-background-color);
		border-top: none;
		box-shadow: 0 0 2px #444;
		z-index: 999;
	}

	.header-search-form.toggled-on {
		display: block;
	}

	.header-search-form .search-form {
		min-width: 300px;
	}
}

@media only screen and (max-width: 60em) {
	.header-search .header-search-icon {
		background: none;
	}

	.header-search .header-search-form {
		width: 100%;
	}

	.header-search .header-search-form .search-form {
		min-width: auto;
	}
}

/* Hide Header Search in Customizer for instant live preview */
.header-search-hidden .primary-navigation-wrap .header-search {
	display: none;
}
