/* Header Social Menu */
.header-bar-social-menu-wrap .social-icons-menu li a {
	display: flex;
	align-items: center;
	@include color(--header-bar-text-color);
	padding: 0.67rem 0.8rem;
}

.header-bar-social-menu-wrap .social-icons-menu li a:hover,
.header-bar-social-menu-wrap .social-icons-menu li a:active {
	@include color(--header-bar-hover-text-color);
	@include background(--header-bar-hover-color);
}

/* Footer Social Icons */
.footer-social-menu-wrap .social-icons-menu {
	margin-left: -0.5rem;
}

.footer-social-menu-wrap .social-icons-menu li a {
	display: flex;
	padding: 0.6rem;
	@include color(--footer-link-color);
}

.footer-social-menu-wrap .social-icons-menu li a:hover,
.footer-social-menu-wrap .social-icons-menu li a:active {
	@include color(--footer-link-hover-color);
}

.footer-social-menu-wrap .social-icons-menu li a .icon {
	width: 17px;
	height: 17px;
}

@media only screen and (min-width: 960px) {
	.footer-social-menu-wrap .social-icons-menu {
		margin-left: 1.5rem;
		margin-right: -0.5rem;
		justify-content: flex-end;
	}
}
